@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");
@import "tailwindcss";


/* Define the theme variable */
@theme {
  --color-blue-custom: #195FA6;
  --color-blue-800: #195FA6;
  --color-blue-700: #195FA6;
  --color-blue-600: #195FA6;
  --color-blue-500: #195FA6;
  --color-blue-400: #195FA6;
  --color-blue-300: #195FA6;
  --color-blue-200: #195FA6;
  --color-blue-100: #195FA6;

  --font-baskerville: "Libre Baskerville", serif;
  --font-weight-baskerville: 700;
}

.section-gap {
  margin-top: 48px; /* or use the exact value from your Figma */
}

@keyframes fadeinup {
  0% { opacity: 0; transform: translateY(40px); }
  100% { opacity: 1; transform: translateY(0); }
}
.animate-fadeinup {
  animation: fadeinup 0.7s cubic-bezier(0.22, 1, 0.36, 1);
}